sinatra_skeleton/.env
sinatra_skeleton/.bundle
sinatra_skeleton/db/*.db
sinatra_skeleton/db/*.sqlite3
sinatra_skeleton/db/*.sqlite
sinatra_skeleton/db/*.sqlite3-journal
sinatra_skeleton/.DS_Store
sinatra_skeleton/public/assets

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# Django stuff:
*.log
*.pot

# Database
*.sqlite3
