<style>

  /**** YOU MAY ADD OR MODIFY CSS BELOW ****/
  .question h2 {
    background-color: #ddd;
    padding: 10px;
    color: black;
  }
  /**** STOP MODIFYING HERE. ****/

</style>

<p>In the box below is an H2 element. Using HTML5 attributes and jQuery, set the box so that you can edit the content of it in place. The H2 should revert back to its last value if it is left empty.</p>

<p>Edit the the page source to begin.</p>

<div class="question">
  <h2>Edit Me!</h2>
</div>

<script>

  $(function() {
    /**** YOU MAY MODIFY THE CODE BELOW ****/
    $('.question h2').on('click', function() {
      var h2 = $(this);
      h2.attr('contenteditable', 'true');
      // TODO: Currently only works if the Div is clicked again
      if (h2.text() == '') {
        h2.text("Edit Me!");
      }
    });
    /**** STOP MODIFYING HERE. ****/
  });

</script>
