<p>Write a function that takes in an array of values, and outputs every <strong>third</strong> element, line by line, by appending them into the Gray Box below. So you will skip the first two elements, append the third, skip the fourth and fifth, etc.<p>

<p>Rules for what to output in the box:</p>
<ul>
  <li>If the value is the name of a day of the week, print it in blue.</li>
  <li>If the value is a number, print it italicized.</li>
  <li>Otherwise, leave it unstyled.</li>
</ul>

<p>Edit the page source to begin.</p>

<div class='question'>
  <h2>Gray Box</h2>
</div>

<script>

  $(function() {

    function addItemsToGrayBox(items) {
      /**** YOU MAY MODIFY THE CODE BELOW ****/
      for (var i = 2; i <= items.length-1; i += 3) {
        $('.question').append('<p>'+ items[i] +'</p>');
      }
      // TODO: Add styling to elements
      // var days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
      // function isDay(value, array) {
      //   return array.indexOf(value) > -1;
      // }
      // $("p").each(function(index) {
      //   var text = $(this).text();
      //   if (typeof text === 'number') {
      //     $(this).css("font-style: italics;")
      //   } else if (isDay(text), array) {
      //     $(this).css("color: blue;")
      //   }
      // })
      /**** STOP MODIFYING HERE. ****/
    }

    addItemsToGrayBox(["Toast", {key: "Value"}, "Tuesday", "Ointment", "Saturday", 817, "Lurk", ["Battery"], "Friday", 8, 345.3, "Birthday", "a", "Rubber Duck"]);
  });

</script>
