<div class="row">
  <div class="one-full column" style="margin-top: 5%">
    <h1>Contacts Database</h1>
  </div>
</div>
<div class="row">
  <div class="one-half column">
    <h4>Search Contacts</h4>
    <input type="text" id="search" name="search_term" placeholder="Search...">
  </div>
  <div class="one-half column">
    <h4>Add a contact</h4>
    <form id="new-contact-form">
      <label for="firstname">First Name:</label>
      <input type="text" id="firstname">
      <label for="lastname">Last Name:</label>
      <input type="text" id="lastname">
      <label for"email">Email:</label>
      <input type="text" id="email">
      <button id="add-contact">Add</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="one-full column">
    <table id="contacts">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
