<h1>PUNK ENOUGH</h1>

<p>Please login:</p>

<form method="post" action="/login">
  <p>
    <label>Username(email):</label>
    <input type="text" name="email" value="gaffin@br.com"></input>
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password" value="1234"></input>
  </p>
  <button>Sign in</button>
</form>
